/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_mixins';
@import 'foyer';
@import 'loginView';
@import 'mainDisplayLeft';
@import 'mainDisplayRight';
@import 'header';

html { 
  background: url('../images/overlook\ sketch.png') no-repeat center 100px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
	overflow: hidden;
	height: 100vh;
  font-family: 'Sen', sans-serif;
}

main {
	height: 100%;
}

::-webkit-scrollbar {
  width:0;
  background: transparent;
}

.customer-view {
  @include flex-row(space-around, center);
  @include height-width(100%)
}

.hidden {
  display: none;
}